/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
* {
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: url("https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/685991/cover-default-cover-3-fe3aac7995ddc0c1b7185c61fa1cc6a5.png")
    no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
